<doctype html>
<html>
  <head>
    <title>{{ page.title }} | Sq1 Developer Styleguide</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/styleguide.css">
  </head>
  <body>
    <div class="container">
      <div class="row header">
        <div class="col-sm-12">
          <img src="{{ site.baseurl }}/images/sq1-logo.jpg">
          <span class="title">Developer Styleguide</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
